<h1>BBC Redux Podcaster</h1>
<p>Redux podcaster generates podcast feeds using <a href="http://www.bbcredux.com/">Redux</a> data.</p>
<p>I'm afraid I had my Redux account reset as this service uses it to do all the heavy lifting, so until I fix this the site will be down, sorry</p>
<p id="footer"><small>Any bugs? <strike>keep them to y...</strike> .. let me know at <em>duncan at whomwah dot com</em>. No personal data is stored on this site.</p>
